<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<Delimiter>;</Delimiter>
	<FavoritString>Senkung Zylinderkopf ISO 4762</FavoritString>
	<OutputFile>Senkungenoutput.xml</OutputFile>
	<FallbackDefaultValue>n.v.</FallbackDefaultValue>
	<XMLAttributes>
		<XMLAttribute>Favorit</XMLAttribute>
		<XMLAttribute>Bohrungstyp</XMLAttribute>
		<XMLAttribute>Ø</XMLAttribute>
		<XMLAttribute>Ø_x0020_Tol.</XMLAttribute>
		<XMLAttribute>Flach</XMLAttribute>
		<XMLAttribute>Ausführungstyp</XMLAttribute>
		<XMLAttribute>Abstand</XMLAttribute>
		<XMLAttribute>Abst._x0020_Tol.</XMLAttribute>
		<XMLAttribute>Ø_2</XMLAttribute>
		<XMLAttribute>Ø_2_x0020_Tol.</XMLAttribute>
		<XMLAttribute>Tiefe</XMLAttribute>
		<XMLAttribute>Tiefe_x0020_Tol.</XMLAttribute>
		<XMLAttribute>Winkel</XMLAttribute>
		<XMLAttribute>Gewindebez</XMLAttribute>
		<XMLAttribute>Gewindetyp</XMLAttribute>
		<XMLAttribute>Norm</XMLAttribute>
		<XMLAttribute>Klasse</XMLAttribute>
		<XMLAttribute>volle_x0020_Tiefe</XMLAttribute>
		<XMLAttribute>Gewindetiefe</XMLAttribute>
	</XMLAttributes>
	<DefaultValues>
		<DefaultValue name="Bohrungstyp">Zapfen</DefaultValue>
		<DefaultValue name="Flach">ja</DefaultValue>
		<DefaultValue name="Ø_x0020_Tol.">H13(E)</DefaultValue>
		<DefaultValue name="Ausführungstyp">Durch</DefaultValue>
		<DefaultValue name="Abstand">Durch</DefaultValue>
		<DefaultValue name="Ø_2_x0020_Tol.">H13(E)</DefaultValue>
		<DefaultValue name="Tiefe_x0020_Tol.>">0,01 mm/0 mm(B)</DefaultValue>
	</DefaultValues>

</Settings>

